<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="parallel">
    <classes>
      <class name="testng.TC_02"/>
      <class name="testng.TC_01"/>
      <class name="testng.multiwindow"/>
      <class name="parallelWeb.NewTest"/>
    </classes>
  </test> <!-- parallel -->
</suite> <!-- Suite -->
